<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
    <link rel="stylesheet" href="styles/restaurants.css" />

  </head>
  <body>
    <%- include('includes/header') %>
    <%- include('includes/side-drawer') %>
    <main>
      <h1>추천 음식점입니다</h1>
      <% if (numberOfRestaurants === 0) { %>
        <p>추천 음식점 데이터가 없습니다. 다음에 열람해 주세요</p>
        <% } else { %>
      <p>추천 음식점 데이터를 확인하셔서 맛집 라이프 즐기세요</p>
      <p>우리는 <%= numberOfRestaurants %> 개의 음식점을 찾았습니다</p>
      <form method="get" action="/restaurants">
        <input type="hidden" name="order" value="<%= nextOrder%>">
        <button id="orderBtn" type="submit">순서바꾸기</button>
      </form>
      <ul id="restaurants-list">
        <% for (const restaurant of restaurants) { %>
        <%- include('includes/restaurants/restaurants-item', {restaurant:restaurant}) %>
        <% } %>
      </ul>
      <% } %> 
    </main>
  </body>
</html>
