<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('includes/head') %>
    <link rel="stylesheet" href="styles/restaurants.css" />
  </head>
  <body>
    <%- include ('includes/header') %>
    <%- include ('includes/side-drawer') %>
    <main>
      <h1>Recommended restaurants</h1>
      <% if(numberOfRestaurants === 0){ %>
        <p>추천 음식점 데이터가 없습니다. 다음에 열람해 주세요</p>
        <% } else{%>
      <p>우리는 <%= numberOfRestaurants %>개의 음식점을 찾았습니다</p>
      <% for(let restaurant of Restaurants){ %>
      <ul id="restaurants-list">
        <li class="restaurant-item">
          <article>
            <h2><%= restaurant.name%></h2>
            <div class="restaurant-meta">
              <p><%= restaurant.cuisine%></p>
              <p><%= restaurant.address%></p>
            </div>
            <p>
              <%= restaurant.description%>
            </p>
            <div class="restaurant-actions">
              <a href="<%= restaurant.website%>">View Website</a>
            </div>
          </article>
        </li>
        <% } %>
      </ul>
      <% } %>
    </main>
  </body>
</html>
